.activity-wrapper{
    width: 74.125rem;
    height: 51.75rem;
    margin: 0 auto;
    padding: 0;
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-line{
    padding: 0;
    margin: 0;
    width: 10.625rem;
    border-top:4px solid #F38281 ;
    margin-top: 3rem;
}

.activity-subtitle{
    margin: 0 auto;
    padding: 0;
    p{
        margin: 0 auto;
        padding: 0;
        font-family: 'Kaushan Script', sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
        text-align: center;
        color: #2D3033;
    }
}

.activity-title{
    padding: 0;
    margin: 0;
    p{
        padding: 0;
        margin: 0;
        margin-top:2.5rem ;
        font-family:'Raleway',sans-serif;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #2D3033;
        text-transform: uppercase;
    }
}

.activity-text{
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-top: 3rem;
}

.activity-info{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 auto;
    margin-top: 4rem;
    .active-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .photography{
            width: 35.625rem;
            height: 15.9375rem;
            margin-left: 1.875rem;
            border: 1px solid #C6CBCD;
            .photography__title{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 5.75rem;
                align-items: center;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                font-size: 24px;
                align-items: center;
                text-transform: uppercase;
                color: #2D3033;
                .active-icon{
                    padding-left: 1.375rem;
                }
                .arrow{
                    padding-right: 1.375rem;
                }
            }
            .photography__text{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
                height: 10.1875rem;
                border-top: 1px solid #C6CBCD;
                padding-left: 1.375rem;
                padding-top: 1.375rem;
                p{
                    width: 28.9375rem;
                    font-family: 'Raleway';
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21px;
                    color: #2D3033;
                    height: 10.1875rem;
                }
                .sideline{
                    padding-right: 1.375rem;
                    padding-bottom:1rem;
                }
            }
        }
        .creativity-wrapper{
            width: 35.625rem;
            height: 5.75rem;
            margin-left: 1.875rem;
            border: 1px solid #C6CBCD;

            .creativity-title{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 5.75rem;
                font-family: 'Raleway', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                text-transform: uppercase;
                color: #2D3033;
                .active-icon{
                    padding-left: 1.375rem;
                }
                .arrow{
                    padding-right: 1.375rem;
                }
            }
        }
        .webdesign-wrapper{
            width: 35.625rem;
            height: 5.75rem;
            margin-left: 1.875rem;
            border: 1px solid #C6CBCD;

            .webdesign-title{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 5.75rem;
                align-items: center;
                font-family: 'Raleway', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                text-transform: uppercase;
                color: #2D3033;
                .active-icon{
                    padding-left: 1.375rem;
                }
                .arrow{
                    padding-right: 1.375rem;
                }
            }
        }
    }
}