.logo-container{
    max-width: 1510px;
    margin: 0 auto;
    padding: 0;
    background-color:#F8F8F8;
}

.logo-wrapper{
    width: 73.125rem;
    height: 13.1875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 5.25rem;
}